.lv1{
    font-size: 4.0rem;
    font-weight: 600;
    color: black;
}

.lv2{
    font-size: 4.0rem;
    font-weight: 600;
    color: #f44336;
}

.lv3{
    font-size: 3.0rem;
    font-weight: 600;
    color: #2196f3;
}

.lv4{
    font-size: 1.0rem;
    font-weight: 600;
    color: #000000;
}